// Colors
$swirl: #CDC9C1;
$thunder: #221F20;
$fuel-yellow: #E7B722;
$scorpion: #655B64;
$blue-gray: #90ADC6;
$pewter: #E9EAEC;
$yellow: #FAD02C;
$dark-blue: #333652;
$sky-blue: #0391b8;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vetical: 8rem;
