.section-about {
	background-image: linear-gradient(to right bottom, $blue-gray, $sky-blue);;
	padding: 10rem 0;
	height: 95vh;
}

.section-experience {
	padding: 25rem 0 15rem 0;
	background-color: $pewter;
}

.section-contact {
	padding: 15rem 0;
	background-color: #cdc9c13b;
}

.contact {
	background-color: $pewter;
	background-size: 100%;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

	&__form {
		padding: 6rem;
	}
}