.section-about {
	background-image: linear-gradient(to right bottom, $blue-gray, $sky-blue);;
	padding: 25rem 0;
	height: 90vh;
}

.section-experience {
	padding: 25rem 0 15rem 0;
	background-color: $pewter;
}
